# Dependencies
node_modules

# Production output
dist

# Git files
.git
.gitignore

# GitLab local files
.gitlab

# Environment files
.env
.env.local
.env.production

# Vercel metadata
.vercel

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor and operating system
.vscode
.DS_Store

# Coverage
coverage

# Documentation not required in image
README.md
