# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#Dependencies
node_modules

#Production Build
dist
dist-ssr

#Environment Variables
*.local
.env
.env.local
.env.production

#Coverage
 coverage/

#Deployment
 .versal/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

#macos
.DS_Store

# Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
